<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link>

  </head>
  <body ng-controller="DemoCtrl">
    <div></div>
    <div >
        <p>{{user}}</p> 
        <input type="text" name="input" ng-model="user"></input>    
    </div>
    <div class="row">
      <div class="col-lg-4" >
        <table class="table table-hover" >
          <thead>
            <tr>
              <th style="text-align: center;">Nombre</th>
            </tr>
          </thead>  
          <tbody ng-repeat="nombre in nombres" style="text-align: center;">
            <tr>
              <td>{{nombre}}</td>
            </tr>
          </tbody>
        </table>  
      </div>
    </div>

      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>  
      <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
      <script src="/DGP-Improved-Deals/js/controllers/controllers.js"></script>
      <script src="/DGP-Improved-Deals/js/services/DBService.js"></script>
    
  </body>      
</html>
