<!DOCTYPE html>
<html lang="en" ng-app="aloha">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title> Aloha! | Tu web de alojamiento en Granada</title>

        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="css/simple-line-icons.css" rel="stylesheet">
        <link href="css/jquery-ui.css" rel="stylesheet">
        <link href="css/datepicker.css" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
        <link href="css/aloha.css" rel="stylesheet">

        
        
        <script src="spark/sparkv2.js" type="text/javascript"></script>
        <script type="text/javascript">
        	
        var mySparkExplorer;
        var todosHoteles;
        var indexHotel;
        
        var opcionUser1;
        var opcionUser2;
        var opcionUser3;
        var opcionUser4;
        
        /**************** Variable controladora fin asistente ***************/
       var finAsistenteExplore;
        	
        function startSpark(){
			
		mySparkExplorer =  new Sparkv2("start_img");
		indexHotel = -1;
		finAsistenteExplore = false;
		}
		
		function Hotel(_direccion_, _titulo_, _precio_, _srcImg_){
			this.direccion = _direccion_;
			this.titulo = _titulo_;
			this.precio= _precio_;
			this.srcImg = _srcImg_;
			
		}
		
		function iniciarAsistenteFase1(){
			
			startSpark();
			
			todosHoteles = new Array();
			
		}
		
		function iniciarAsistenteFase2(){
			
			recuperarOpciones();
			recuperarTodosHoteles(true);
				
			seleccionarSubFiltros(ciclarHotel);
			
		}
		
		function rellenarPregunta(_pregunta_){
			document.getElementById("pregunta").innerHTML = _pregunta_;
		}
		
		function rellenarRespuesta(palabras){
			document.getElementById("respuesta").innerHTML = palabras;
		}

		function seleccionarSubFiltros(callback){
			
			mySparkExplorer.hablar("Refina tu busqueda indicandome algunas comodidades extras. Dime si te interesan algunas de ellas");
			
			rellenarPregunta("¿Que comodidades te gustaría tener?");
			mySparkExplorer.pregunta("De entre las siguientes comodidades, ¿cuales te gustaría tener en tu reserva? \n " +
				"Seguridad extra, aire acondicionado, piscina, internet + Wifi, calefacción, televisión, jardín o telefono", function (err, result){
					
				//console.log(result.final_transcript);
				if (err) {
					mySparkExplorer.hablar("No tendre encuenta ninguna comodidad nueva para la busquedad");
					rellenarPregunta("No tendre encuenta ninguna comodidad nueva para la busquedad");
					document.getElementById("popupImgPensando").style.display= "none";
					document.getElementById("popupDetallesHotel").style.display= "inherit";
					callback();
				 } else {
				 	if(result.final_transcript.indexOf("aire")!= -1 || result.final_transcript.indexOf("Aire")!= -1 ){
				 		document.getElementById("aire").checked= true;
				 	}
				 	if(result.final_transcript.indexOf("seguridad")!= -1 || result.final_transcript.indexOf("Seguridad")!= -1 ){
				 		document.getElementById("seguridad").checked= true;
				 	}
				 	if(result.final_transcript.indexOf("piscina")!= -1 || result.final_transcript.indexOf("Piscina")!= -1 ){
				 		document.getElementById("piscina").checked= true;
				 	}
				 	if(result.final_transcript.indexOf("internet")!= -1 || result.final_transcript.indexOf("Internet")!= -1  || 
				 		result.final_transcript.indexOf("wifi")!= -1 || result.final_transcript.indexOf("Wifi")!= -1 ){
				 		document.getElementById("internet").checked= true;
				 	}
				 	if(result.final_transcript.indexOf("calefacción")!= -1 || result.final_transcript.indexOf("Calefacción")!= -1 ){
				 		document.getElementById("calefaccion").checked= true;
				 	}
				 	if(result.final_transcript.indexOf("tv")!= -1 || result.final_transcript.indexOf("Tv")!= -1 || 
				 		result.final_transcript.indexOf("Televisión")!= -1 || result.final_transcript.indexOf("televisión")!= -1){
				 		document.getElementById("tv").checked= true;
				 	}
				 	if(result.final_transcript.indexOf("jardín")!= -1 || result.final_transcript.indexOf("Jardín")!= -1 ){
				 		document.getElementById("jardin").checked= true;
				 	}
				 	if(result.final_transcript.indexOf("teléfono")!= -1 || result.final_transcript.indexOf("Teléfono")!= -1 ){
				 		document.getElementById("telefono").checked= true;
				 	}
				 	if(result.final_transcript.indexOf("repetir")!= -1 || result.final_transcript.indexOf("Repetir")!= -1 ){
				 		seleccionarSubFiltros(callback);
				 	}
				 	else{
				 		document.getElementById("popupImgPensando").style.display= "none";
						document.getElementById("popupDetallesHotel").style.display= "inherit";
				 		callback();
				 	}
				 }
			});
}
		
		function recuperarOpciones(){
			
			// TODO FAKE
			opcionUser1 = "Centro";
			opcionUser2 = "2";
			opcionUser3 = "19 de Mayo de 2015";
			opcionUser4 = "21 de Mayo de 2015";
			
			document.getElementById("popUpOpcion1").innerHTML = opcionUser1;
			document.getElementById("popUpOpcion2").innerHTML = opcionUser2;
			document.getElementById("popUpOpcion3").innerHTML = opcionUser3;
			document.getElementById("popUpOpcion4").innerHTML = opcionUser4;
			
			
		}
		
		function recuperarHotel(){
			
			var hotel = todosHoteles[indexHotel];
			
			rellenarDatosHotel(hotel);
			leerDatosHotel(hotel);
			
		}
		
		function recuperarOpcionUsuario(){
			
			rellenarPregunta("Mostrando ofertas");
			mySparkExplorer.pregunta("¿Deseas descartar esta oferta, contratarla o cancelar el proceso?", function (err, result){
				
				//console.log(result.final_transcript);
				if (err) {
					rellenarPregunta("Sin respuesta");
					mySparkExplorer.hablar("Ninguna respuesta");
					recuperarOpcionUsuario();
				 } else {
					if(result.final_transcript.indexOf("Descartar")!= -1 || result.final_transcript.indexOf("descartar")!= -1){
						mySparkExplorer.hablar("Descartando el hotel");
						rellenarPregunta("Descartando...");
						
						ciclarHotel();
					}
					else if(result.final_transcript.indexOf("Contratar")!= -1 || result.final_transcript.indexOf("Contratarla")!= -1 || 
					result.final_transcript.indexOf("contratar")!= -1 || result.final_transcript.indexOf("contratarla")!= -1 ){
						mySparkExplorer.hablar("Procedamos con la contratación de la reserva");
						rellenarPregunta("Veamos la contratacion");
						contratar();
					}
					else if(result.final_transcript.indexOf("cancelar") != -1 || result.final_transcript.indexOf("Cancelar") != -1){
						mySparkExplorer.hablar("Cancelando la operación");
						rellenarPregunta("Operacion Cancelada");
						cerrarAsistente();
					}
				}
			});
		}
		
		function contratar(){
			mySparkExplorer.hablar("Necesito tu confirmación de compra para el hotel:");
			rellenarPregunta("Se requiere confirmacion");
			leerDatosHotel(todosHoteles[indexHotel]);
			
			mySparkExplorer.pregunta("¿Procedo con la compra?", function(err, result){
				//console.log(result.final_transcript);
				if (err) {
					mySparkExplorer.hablar("Ninguna respuesta, necesito tu confirmación para continuar");
					contratar();
				 } else {
				 	if(result.final_transcript.indexOf("Aceptar")!= -1 || result.final_transcript.indexOf("aceptar")!= -1 || result.final_transcript.indexOf("ok")!= -1 ||
				 	result.final_transcript.indexOf("Ok")!= -1 || result.final_transcript.indexOf("comprar")!= -1 || result.final_transcript.indexOf("Comprar")!= -1){
				 		mySparkExplorer.hablar("Entendido, tu reserva se ha realizado. Gracias por visitarnos. :)", cerrarAsistente);
				 		rellenarPregunta("Reserva realizada");
				 		//cerrarAsistente();
				 		
				 	}
				 	else if(result.final_transcript.indexOf("Cancelar")!= -1 || result.final_transcript.indexOf("cancelar")!= -1 || result.final_transcript.indexOf("no")!= -1 ||
				 	result.final_transcript.indexOf("No")!= -1 || result.final_transcript.indexOf("descartar")!= -1 || result.final_transcript.indexOf("Descartar")!= -1){
				 		mySparkExplorer.hablar("La reserva se ha cancelado", function (){indexHotel = -1; ciclarHotel();});
				 	}
				 	else{
				 		mySparkExplorer.hablar("No entiendo que deseas hacer, necesito confirmación para continuar");
						contratar();
				 	}
				 }
			});
		}
		
		function leerDatosHotel(hotel){
			
			mySparkExplorer.hablar("Contemplemos el siguiente hotel");
			
			mySparkExplorer.hablar("Situado en " + hotel.direccion);
			mySparkExplorer.hablar("El dueño lo describe como: " + hotel.titulo);
			mySparkExplorer.hablar("Con un precio por noche de " + hotel.precio);
			
			if(hotel.srcImg != null){
				mySparkExplorer.hablar("El hostelero proporciona una imagen de la habitación");
			}
			else{
				mySparkExplorer.hablar("El hostelero no proporciona ninguna imagen de la habitación");
			}
		}
		
		function recuperarTodosHoteles(){
			
			// TODO FAKE
			var tempHotel = new Hotel('Avenida de la constitución, número 25', 'Maravilloso hotel con vistas a la vega granadina', '85 €', 'images/prop/2-1.png');
			todosHoteles.push(tempHotel);
			tempHotel = new Hotel('Zona centrica de Granada, junto parada de autobús', 'Antíguo caserón, totalmente reformado', '150 €', 'images/prop/4-1.png');
			todosHoteles.push(tempHotel);
			tempHotel = new Hotel('Pedro Antonio de Alarcón, número 33', 'Residencial centrico, con maravilloso patio interior', '77 €', null);
			todosHoteles.push(tempHotel);
			tempHotel = new Hotel('Barrio de la Chana, frente parque Almunia', 'Noches baratas', '180 €', 'images/prop/1-1.png');
			todosHoteles.push(tempHotel);
			tempHotel = new Hotel('Recogidas, número 21', 'Lujosas habitaciones al mejor precio. Ofertas para grupos grandes', '100 €', 'images/prop/6-1.png');
			todosHoteles.push(tempHotel);
			tempHotel = new Hotel('Motril, frente al mar', 'Disfruta de nuestra playa privada todo el año', '50 €', 'images/prop/2-1.png');
			todosHoteles.push(tempHotel);
			
		}
		
		function ciclarHotel(){
			indexHotel++;
			
			if(indexHotel < todosHoteles.length){
				recuperarHotel();
				recuperarOpcionUsuario();
			}
			else{
				mySparkExplorer.hablar("No quedan más ofertas que consultar");
				mySparkExplorer.pregunta("¿Deseas repetir las ofertas o cancelar el proceso?", function (err, result){
				
					//console.log(result.final_transcript);
					if (err) {
						mySparkExplorer.hablar("Ninguna respuesta");
					} 
					else {
						if(result.final_transcript.indexOf("Repetir")!= -1 || result.final_transcript.indexOf("Sí")!= -1 || result.final_transcript.indexOf("Si")!= -1 ||
							result.final_transcript.indexOf("repetir")!= -1 ){
							
							mySparkExplorer.hablar("Volviendo a mostrar tas las ofertas");
							indexHotel = -1;
							ciclarHotel();
						}
						else if(result.final_transcript.indexOf("Cancelar")!= -1){
							mySparkExplorer.hablar("Has cancelado la selección");
							cerrarAsistente();
						}
					}
				
				});
				
			}
			
		}
		
		function rellenarDatosHotel(hotel){
			
			document.getElementById("popupDireccion").innerHTML = hotel.direccion;
			document.getElementById("popupTitulo").innerHTML = hotel.titulo;
			document.getElementById("popupSrcImg").src = hotel.srcImg;
			document.getElementById("popupPrecio").innerHTML = hotel.precio;
			
		}
		
		function cerrarAsistente(){
			finAsistenteExplore = true;
		}
		
		function escuchar(){
			//mySparkExplorer.escuchar();
		}
		
		function resultadosSpark(palabras){
			console.log("resultado Spark: " + palabras);
			
			
		}
        	
        </script>
		
    </head>

    <body class="notransition ng-cloak" ng-controller="exploreController" onload="iniciarAsistenteFase1()">	
		
		<!-- Header -->
		
        <div id="header">
            <div class="logo">
                <a href="index.html">
                    <span class="fa fa-home marker"></span>
                    <span class="logoText">Inicio</span>
                </a>
            </div>
            <a href="#" class="navHandler"><span class="fa fa-bars"></span></a>
            <div class="search">
                <span class="searchIcon icon-magnifier"></span>
                <input type="text" placeholder="Buscar hoteles...">			
					<a href="#" data-toggle="modal" data-target="#sparkfinal" onclick="iniciarAsistenteFase2()">Integracion Alvaro</a>			
		    </div>
            <div class="headerUserWraper" ng-show="identifiedUser">
                <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span><span class="counter">5</span></a>
                <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
                    <img class="avatar headerAvatar pull-left" src="images/avatar-1.png" alt="avatar">
                    <div class="userTop pull-left">
                        <span class="headerUserName">John Smith</span> <span class="fa fa-angle-down"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
                <div class="dropdown-menu pull-right userMenu" role="menu">
                    <div class="mobAvatar">
                        <img class="avatar mobAvatarImg" src="images/avatar-1.png" alt="avatar">
                        <div class="mobAvatarName">John Smith</div>
                    </div>
                    <ul>
                        <li><a href="profile.html"><span class="icon-user"></span>Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="icon-power"></span>Logout</a></li>
                    </ul>
                </div>
            </div>
            <div id="nonRegistered" class="headerUserWraper home-nav" ng-hide="identifiedUser">
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#signup">Registro</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#signin">Inicia Sesion</a></li>
                </ul>
            </div>
            <a href="#" class="mapHandler"><span class="icon-map"></span></a>
            <div class="clearfix"></div>
        </div>
        <div class="modal fade" id="signin" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="signinLabel">Inicia sesión</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Entra con Facebook</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Entra con tu cuenta de Google</a>
                                </div>
                            </div>
                            <div class="signOr">o</div>
                            <div class="form-group">
                                <input type="email" placeholder="Email Address" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Recordar</label></div>
                                    </div>
                                    <!-- 
                                    <div class="col-xs-6 align-right">
                                        <p class="help-block"><a href="#" class="text-green">¿Contraseña olvidada?</a></p>
                                    </div> 
                                    -->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-green">Entra</a>
                                </div>
                            </div>
                            <p class="help-block">¿Todavía sin cuenta? <a href="#" class="modal-su text-green">Regístrate!</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="signup" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="signupLabel">Registro</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" name="formulario de registro">
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Entra con Facebook</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Entra con Google</a>
                                </div>
                            </div>
                            <div class="signOr">o</div>
                            <div class="form-group">
                                <input type="text" placeholder="Nombre" ng-required="true" class="form-control" ng-model="objUser.name">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Apellidos" ng-required="true" class="form-control" ng-model="objUser.surname">
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="E-mail"  ng-required="true" class="form-control" ng-model="objUser.email">
                            </div>
                            <div class="form-group">

                                <input type="text" ng-show="objUser.hostelero"  ng-required="true" placeholder="Nombre de la compañia" class="form-control" ng-model="objUser.companyName">
                            </div>
                            <div class="form-group">
                                <input type="text" ng-show="objUser.hostelero"   ng-required="true" placeholder="NIF" class="form-control" ng-model="objUser.nif">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Contraseña" class="form-control" ng-required="true" ng-model="objUser.password">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Confirma tu contraseña" ng-required="true" class="form-control" ng-model="confirmPass">
                            </div>
                           <div class="checkbox custom-checkbox">
                               <label><input type="checkbox" ng-model="objUser.hostelero"><span class="fa fa-check"></span> HEY! Soy hostelero</label>               
                           </div>
                            
                            <div class="form-group">
                                <div class="btn-group">
                                    <button class="btn btn-lg btn-green" ng-click="register()">Registrame!</button>
                                </div>
                            </div>
                            <p class="help-block">Ya tienes cuenta? <a href="#" class="modal-si text-green">Inicia sesión</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left Side Navigation -->

        <div id="leftSide">
            <nav class="leftNav scrollable">
                <div class="search">
                    <span class="searchIcon icon-magnifier"></span>
                    <input type="text" placeholder="Buscar hoteles...">
                    <div class="clearfix"></div>
                </div>
                <ul>
                    <li><a href="add.html" ng-show="hostelero"><span class="navIcon icon-plus"></span><span class="navLabel">Nuevo</span></a></li>
                </ul>
            </nav>
            <div class="leftUserWraper dropup" ng-show="identifiedUser">
                <a href="#" class="avatarAction dropdown-toggle" data-toggle="dropdown">
					<img class="avatar" src="images/avatar-1.png" alt="avatar">
                    <div class="userBottom pull-left">
                        <span class="bottomUserName">John Smith</span> <span class="fa fa-angle-up pull-right arrowUp"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="profile.html"><span class="icon-user"></span>Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="icon-power"></span>Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="closeLeftSide"></div>

        <!-- Content -->

        <div id="wrapper">
            <div id="mapView">
                <div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div>
            </div>
            <div id="content">
                <div class="filter">
                    <h1 class="osLight">Filtrar los resultados</h1>
                    <a href="#" class="handleFilter"><span class="icon-equalizer"></span></a>
                    <div class="clearfix"></div>
                    <form class="filterForm">
                        <div class="dateForm">
                            <div class="row form-group" style="color: #333;">
                        <div class='input-group col-xs-12 col-sm-12 col-md-5 col-lg-5' >
                            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dtstart" is-open="openeddt1"  max-date="dtend" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event,'dp1')"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </div>
                        <div class='input-group rightDate col-xs-12 col-sm-12 col-md-5 col-lg-5'>
                            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dtend" is-open="openeddt2" min-date="dtstart" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event,'dp2')"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </div>

                    </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
                                <div class="formField">
                                    <label>Propiedad</label>
                                    <a href="#" data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
                                        <span class="dropdown-label">Todos</span>
                                        <span class="fa fa-angle-down dsArrow"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-select full" role="menu">
                                        <li class="active"><input type="radio" name="pType" checked="checked"><a href="#">Todos</a></li>
                                        <li><input type="radio" name="pType"><a href="#">Piso</a></li>
                                        <li><input type="radio" name="pType"><a href="#">Casa</a></li>
                                        <li><input type="radio" name="pType"><a href="#">Hotel (habitación)</a></li>
                                    </ul>
                                </div>
                            </div>
                             <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 formItem roomsField">
                                <div class="formField">
                                    <label>Habitaciones</label>
                                    <div class="volume">
                                        <a href="#" class="btn btn-gray btn-round-left"><span class="fa fa-angle-left"></span></a>
                                        <input type="text" class="form-control" readonly value="1">
                                        <a href="#" class="btn btn-gray btn-round-right"><span class="fa fa-angle-right"></span></a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Comodidades</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Garaje</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Sistema de seguridad</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Aire acondicionado</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Balcon</label></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Piscina descubierta</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Internet</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Calefacción</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> TV por cable</label></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Jardín</label></div>
                                    <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Teléfono</label></div>
                                </div>
                            </div>
                        </div>
						<div class="form-group">
                            <a href="#" class="btn btn-green btn-lg">Buscar</a>
                        </div>
                    </form>
                </div>
                <div class="resultsList">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="single.html" class="card">
                                <div class="figure">
                                    <img src="images/prop/1-1.png" alt="image">
                                    <div class="figCaption">
                                        <div>$1,550,000</div>
                                        <span class="icon-eye"> 200</span>
                                        <span class="icon-heart"> 54</span>
                                        <span class="icon-bubble"> 13</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">Piso</div>
                                </div>
                                <h2>Modern Residence in New York</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> 39 Remsen St, Brooklyn, NY 11201, USA</div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    (146)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 3</li>
                                    <li><span class="icon-drop"></span> 2</li>
                                    <li><span class="icon-frame"></span> 3430 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="single.html" class="card">
                                <div class="figure">
                                    <img src="images/prop/2-1.png" alt="image">
                                    <div class="figCaption">
                                        <div>$1,750,000</div>
                                        <span class="icon-eye"> 175</span>
                                        <span class="icon-heart"> 67</span>
                                        <span class="icon-bubble"> 9</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">Casa</div>
                                </div>
                                <h2>Hauntingly Beautiful Estate</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> 169 Warren St, Brooklyn, NY 11201, USA</div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    (123)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 2</li>
                                    <li><span class="icon-drop"></span> 2</li>
                                    <li><span class="icon-frame"></span> 4430 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="single.html" class="card">
                                <div class="figure">
                                    <img src="images/prop/3-1.png" alt="image">
                                    <div class="figCaption">
                                        <div>$1,340,000</div>
                                        <span class="icon-eye"> 180</span>
                                        <span class="icon-heart"> 87</span>
                                        <span class="icon-bubble"> 12</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">Hotel</div>
                                </div>
                                <h2>Sophisticated Residence</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> 38-62 Water St, Brooklyn, NY 11201, USA</div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    (120)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 2</li>
                                    <li><span class="icon-drop"></span> 3</li>
                                    <li><span class="icon-frame"></span> 2640 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="single.html" class="card">
                                <div class="figure">
                                    <img src="images/prop/4-1.png" alt="image">
                                    <div class="figCaption">
                                        <div>$1,930,000</div>
                                        <span class="icon-eye"> 145</span>
                                        <span class="icon-heart"> 99</span>
                                        <span class="icon-bubble"> 25</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">Piso</div>
                                </div>
                                <h2>House With a Lovely Glass-Roofed Pergola</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> Wunsch Bldg, Brooklyn, NY 11201, USA</div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    (170)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 3</li>
                                    <li><span class="icon-drop"></span> 2</li>
                                    <li><span class="icon-frame"></span> 2800 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="single.html" class="card">
                                <div class="figure">
                                    <img src="images/prop/5-1.png" alt="image">
                                    <div class="figCaption">
                                        <div>$2,350,000</div>
                                        <span class="icon-eye"> 184</span>
                                        <span class="icon-heart"> 120</span>
                                        <span class="icon-bubble"> 18</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">Piso</div>
                                </div>
                                <h2>Luxury Mansion</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> 95 Butler St, Brooklyn, NY 11231, USA</div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    (257)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 2</li>
                                    <li><span class="icon-drop"></span> 2</li>
                                    <li><span class="icon-frame"></span> 2750 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="single.html" class="card">
                                <div class="figure">
                                    <img src="images/prop/1-1.png" alt="image">
                                    <div class="figCaption">
                                        <div>$1,550,000</div>
                                        <span class="icon-eye"> 200</span>
                                        <span class="icon-heart"> 54</span>
                                        <span class="icon-bubble"> 13</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">Piso</div>
                                </div>
                                <h2>Modern Residence in New York</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> 39 Remsen St, Brooklyn, NY 11201, USA</div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    (146)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 3</li>
                                    <li><span class="icon-drop"></span> 2</li>
                                    <li><span class="icon-frame"></span> 3430 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="single.html" class="card">
                                <div class="figure">
                                    <img src="images/prop/2-1.png" alt="image">
                                    <div class="figCaption">
                                        <div>$1,750,000</div>
                                        <span class="icon-eye"> 175</span>
                                        <span class="icon-heart"> 67</span>
                                        <span class="icon-bubble"> 9</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">Casa</div>
                                </div>
                                <h2>Hauntingly Beautiful Estate</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> 169 Warren St, Brooklyn, NY 11201, USA</div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    (123)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 2</li>
                                    <li><span class="icon-drop"></span> 2</li>
                                    <li><span class="icon-frame"></span> 4430 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="single.html" class="card">
                                <div class="figure">
                                    <img src="images/prop/3-1.png" alt="image">
                                    <div class="figCaption">
                                        <div>$1,340,000</div>
                                        <span class="icon-eye"> 180</span>
                                        <span class="icon-heart"> 87</span>
                                        <span class="icon-bubble"> 12</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">Hotel</div>
                                </div>
                                <h2>Sophisticated Residence</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> 38-62 Water St, Brooklyn, NY 11201, USA</div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    (120)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 2</li>
                                    <li><span class="icon-drop"></span> 3</li>
                                    <li><span class="icon-frame"></span> 2640 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="single.html" class="card">
                                <div class="figure">
                                    <img src="images/prop/4-1.png" alt="image">
                                    <div class="figCaption">
                                        <div>$1,930,000</div>
                                        <span class="icon-eye"> 145</span>
                                        <span class="icon-heart"> 99</span>
                                        <span class="icon-bubble"> 25</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">Piso</div>
                                </div>
                                <h2>House With a Lovely Glass-Roofed Pergola</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> Wunsch Bldg, Brooklyn, NY 11201, USA</div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    (170)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 3</li>
                                    <li><span class="icon-drop"></span> 2</li>
                                    <li><span class="icon-frame"></span> 2800 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <a href="single.html" class="card">
                                <div class="figure">
                                    <img src="images/prop/5-1.png" alt="image">
                                    <div class="figCaption">
                                        <div>$2,350,000</div>
                                        <span class="icon-eye"> 184</span>
                                        <span class="icon-heart"> 120</span>
                                        <span class="icon-bubble"> 18</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">Piso</div>
                                </div>
                                <h2>Luxury Mansion</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> 95 Butler St, Brooklyn, NY 11231, USA</div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    (257)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 2</li>
                                    <li><span class="icon-drop"></span> 2</li>
                                    <li><span class="icon-frame"></span> 2750 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="disabled"><a href="#"><span class="fa fa-angle-left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
		
		<div class="modal fade" id="sparkfinal" role="dialog" aria-labelledby="signinLabel" aria-hidden="true" >
						<div class="modal-dialog modal-sm2" >
							<div class="modal-content" style=" background:white; wid">
								<div class="modal-header">
									<h4 class="modal-title" id="signinLabel">Asistente de reconocimiento de voz en ejecucion</h4>
								</div>
								<div class="modal-body" style="background:white;">
									<div class="row">
										<div><h2 style="padding-left:20px; width:100%"><span id="pregunta">Pregunta de Spark</span></h2></div>
									</div>
									<!--
									<div class="row">
										<div><h2 style="padding-left:20px; width:100%"><span id="respuesta">Respuesta del usuario</span></h2></div>
									</div>
									-->
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="width:30%; background:white; float:left; padding-left:20px; margin-top:20px">
											
											<div class="row">
											<h4><span>Zona elegída</span></h4>
											</div>
											<div class="row">
											<h3><span id="popUpOpcion1">Opcion 1</span></h3>
											</div>
											<div class="row">
											<h4><span >Habitaciones</span></h4>
											</div>
											<div class="row">
											<h3><span id="popUpOpcion2">Opcion 2</span></h3>
											</div>
											<div class="row">
											<h4><span >Fecha de entrada</span></h4>
											</div>
											<div class="row">
											<h3><span id="popUpOpcion3">Opcion 3</span></h3>
											</div>
											<div class="row">
											<h4><span >Fecha de salida</span></h4>
											</div>
											<div class="row">
											<h3><span id="popUpOpcion4">Opcion 4</span></h3>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="width:35%; background:white; float:left; margin-top:20px">
											<div id="popupImgPensando" class="row">
												<a ><img src="images/pensando.gif" /></a>
											</div>
											<div id="popupDetallesHotel" class="row"  style="display: none;">
												<a href="single.html" class="card">
					                                <div class="figure">
					                                    <img id="popupSrcImg" src="images/prop/1-1.png" alt="image">
					                                    
					                                    <div class="figView"><span class="icon-eye"></span></div>
					                                </div>
					                                <h2><span id="popupTitulo"> Residence in New York</span></h2>
					                                <div class="cardAddress"><span class="icon-pointer"></span><span id="popupDireccion">39 Remsen St, Brooklyn, NY 11201, USA</span></div>
					                                <div class="cardRating">
					                                    <span class="fa fa-star"></span>
					                                    <span class="fa fa-star"></span>
					                                    <span class="fa fa-star"></span>
					                                    <span class="fa fa-star"></span>
					                                    <span class="fa fa-star-o"></span>
					                                    (146)
					                                </div>
					                                <div>
					                                    <h2><span id="popupPrecio">$1,550,000</span></h2>
					                                    <span class="icon-eye"> 200</span>
					                                    <span class="icon-heart"> 54</span>
					                                    <span class="icon-bubble"> 13</span>
					                                </div>
					                                <div class="clearfix"></div>
					                            </a>
					                        </div>
											<div class="row">
												<!-- Esta imagen es para poner el microfono que se llamara micro.gif-->
												
												<div class="col-lg-12 col-md-12">
													<table align="center">
														<tbody>
															<tr>
																<td><img id="start_img" src="images/imgspark/micro.gif" onclick="escuchar()"></img></td>
															</tr>
															
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="width:18%; background:white; float:left;">
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<div class="form-group" style="padding-left:20px">
													<label>Comodidades</label>
													<div class="checkbox custom-checkbox"><label><input type="checkbox" id="garaje"><span class="fa fa-check" ><h5> Garaje</h5></span></label></div>
													<div class="checkbox custom-checkbox"><label><input type="checkbox" id ="seguridad"><span class="fa fa-check" ><h5> Sistema de seguridad</h5></span></label></div>
													<div class="checkbox custom-checkbox"><label><input type="checkbox" id ="aire"><span class="fa fa-check" ><h5> Aire acondicionado</h5></span></label></div>
													<div class="checkbox custom-checkbox"><label><input type="checkbox" id ="balcon"><span class="fa fa-check" ><h5> Balcon</h5></span ></label></div>
													<div class="checkbox custom-checkbox"><label><input type="checkbox" id ="piscina"><span class="fa fa-check" ><h5> Piscina descubierta</h5></span ></label></div>
												</div>
											</div>    
										</div>
										<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="width:17%; background:white; float:left;">
												<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
													<div class="form-group">
														<label>&nbsp;</label>
														<div class="checkbox custom-checkbox"><label><input type="checkbox" id ="internet"><span class="fa fa-check" ><h5> Internet</h5></span ></label></div>
														<div class="checkbox custom-checkbox"><label><input type="checkbox" id ="calefaccion"><span class="fa fa-check" ><h5> Calefacción</h5></span ></label></div>
														<div class="checkbox custom-checkbox"><label><input type="checkbox" id ="tv"><span class="fa fa-check" ><h5> TV por Cable</h5></span ></label></div>
														<div class="checkbox custom-checkbox"><label><input type="checkbox" id ="jardin"><span class="fa fa-check" ><h5> Jardín</h5></span></label></div>
														<div class="checkbox custom-checkbox"><label><input type="checkbox" id ="telefono"><span class="fa fa-check" ><h5> Teléfono</h5></span ></label></div>
													</div>
												</div>
										</div>
										
									</div>
								</div
							</div>
						</div>
					</div>
</div>
	

        <script src="js/jquery/jquery-2.1.1.min.js"></script>
        <script src="js/jquery/jquery-ui.min.js"></script>
        <script src="js/jquery/jquery-ui-touch-punch.js"></script>
        <script src="js/jquery/jquery.placeholder.js"></script>
        <script src="js/jquery/bootstrap.js"></script>
        <script src="js/jquery/jquery.touchSwipe.min.js"></script>
        <script src="js/jquery/jquery.slimscroll.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places" type="text/javascript"></script>
        <script src="js/jquery/infobox.js"></script>
        <script src="js/jquery/jquery.tagsinput.min.js"></script>
        <script src="js/jquery/bootstrap-datepicker.js"></script>
        <script src="js/jquery/app.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" type="text/javascript"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <script src="//code.angularjs.org/1.3.9/angular-aria.js"></script>
        <script src="https://code.angularjs.org/1.3.5/angular-route.js"></script>
        <script src="js/app/app.js"></script>
        <script src="js/services/ExploreService.js"></script>
        <script src="js/controllers/exploreController.js"></script>
